/*Burger Style*/

.nav_bar_toggle {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 52px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
    background-color: var(--color_light_shade_3);
    z-index: 105;
    border-radius: 0 0rem .5rem 0;

    box-sizing: border-box;
    border-right: solid 2px var(--color_dark_main);
    border-bottom: solid 2px var(--color_dark_main);
}


/*Three lines transparent border for animation*/
.nav_bar_toggle:hover .nav_bar_toggle_burger,
.nav_bar_toggle:hover .nav_bar_toggle_burger::before,
.nav_bar_toggle:hover .nav_bar_toggle_burger::after {
    background-color: var(--color_light_shade_3);
    border: transparent;
}

.nav_bar_toggle:hover {
    background-color: var(--color_dark_main);
}

/*three lines*/
.nav_bar_toggle_burger,
.nav_bar_toggle_burger::before,
.nav_bar_toggle_burger::after {
    width: 45px;
    height: 6px;
    background: var(--color_dark_main);
    border-radius: 5px;
    transition: all var(--time_short) ease-in-out;
}

.nav_bar_toggle_burger::before,
.nav_bar_toggle_burger::after {
    content: '';
    position: absolute;
}

.nav_bar_toggle_burger::before {
    transform: translateY(-16px);
}

.nav_bar_toggle_burger::after {
    transform: translateY(16px);
}

/* ANIMATION */
.nav_bar_toggle.open .nav_bar_toggle_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.open {
    background-color: transparent;
}

.nav_bar_toggle.open .nav_bar_toggle_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    border: solid 1px var(--color_light_shade_3);
}

.nav_bar_toggle.open .nav_bar_toggle_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    border: solid 1px var(--color_light_shade_3);
}