:root {
    /*OLD*/
    --red: #40141F;
    --darkblue: #4D6F73;
    --lightblue: ##86A6A6;
    --darkbrown: #594839;
    --lightbrown: #8C6F5E;
    /*Colors*/
    --color_black: #000000;
    --color_white: #F6F2EA;
    --color_light: #D8EFF0;
    --color_dark: #0F3244;
    --color_default: #0B617E;

    /*Final Colors*/

    --color_dark_main: #054973;
    --color_dark_shade_1: #346d8e;
    --color_dark_shade_2: #6690aa;
    --color_dark_shade_3: #9ab6c7;
    --color_dark_shade_4: #ccdae2;
    --color_light_main: #89b9d9;
    --color_light_shade_1: #a0c7e0;
    --color_light_shade_2: #b8d5e6;
    --color_light_shade_3: #cfe2ef;
    --color_light_shade_4: #e7f0f5;
    --color_contrast: #40141F;
    /*CHANGE TO NEW COLOR*/
    /*Times*/
    --time_short: 150ms;
    --time_normal: 250ms;
    --time_long: 500ms;
}

* {
    display: block;
    padding: 0;
    margin: 0;
    color: var(--color_white);
    font-family: 'Quicksand', sans-serif;
    z-index: 0;
}


head,
title {
    display: none
}

body {
    background: linear-gradient(to bottom, var(--color_light_main) 0%, var(--color_dark_main)100%);
    min-height: 100vh;
}

.spacer {
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

.start {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to bottom, var(--color_light) 0%, var(--color_default)90%);
}

.title {
    font-size: 5rem;
}

.subtitle {
    font-size: 2rem;
}

.segment {
    padding: 5rem;
    height: 100vh;
}

.content {
    background: linear-gradient(to bottom, var(--color_default) 0%, var(--color_dark) 100%);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background: linear-gradient(to bottom, var(--color_dark) 0%, var(--color_black) 30%);
}