.nav_bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: var(--color_light_shade_3);
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 62px;
    max-width: 100%;
    font-weight: bold;
    z-index: 1000;
}

.nav_bar_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nav_bar_link {
    padding: 1rem;
    font-size: 1.5rem;
    flex: 1 1 0%;
    color: var(--color_dark_main);
    background-color: var(--color_light_shade_3);
    text-decoration: none;
}

.nav_bar_link:hover {
    color: var(--color_light_shade_3);
    background-color: var(--color_dark_main);
}

.submenu {
    visibility: hidden;
    height: 0;
    z-index: 1000;
}

.nav_bar_item:hover .submenu,
.nav_bar_item:active .submenu,
.nav_bar_item:focus .submenu {
    visibility: visible;
    height: auto;
}

.nav_bar_item:focus-within .submenu {
    visibility: visible;
    height: auto;
}

.submenu .nav_bar_item,
.submenu .nav_bar_item .nav_bar_link {
    display: block;
}

@media (max-width: 850px) {
    .nav_bar_list {
        flex-direction: column;
    }

    .nav_bar_item {
        text-align: center;
    }

    .nav_bar_link {
        width: 100vw;
        font-size: 1rem;
    }

    .submenu .nav_bar_item .nav_bar_link {
        font-size: 0.7rem;
        background-color: var(--color_light_shade_4);
    }
    
    .submenu .nav_bar_item .nav_bar_link:hover {
        background-color: var(--color_dark_main);
    }

    .nav_bar {
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        overflow: hidden;
    }

    .nav_bar_logo {
        width: 20vw;
        height: auto;
    }
}

.nav_bar_logo_link {
    padding: 0.3rem;
}

.nav_bar_logo {
    height: 100%;
}

.turtle_back,
.turtle_shell {
    fill: var(--color_dark_main);
    transform-origin: 50% 50%;
}

.nav_bar_logo_link:hover .turtle_back,
.nav_bar_logo_link:hover .turtle_shell {
    /*fill: var(--color_light_main);*/
    transform: rotate(15deg) scale(0.95);
}

/*.nav_bar_logo_link:hover {
    background-color: var(--color_dark_main);
}
*/

/*
.nav_bar_logo .turtle_back {
fill: #89b9d9;
}

.nav_bar_logo:hover .turtle_back {
    fill: #054973;
}

.nav_bar_logo .turtle_shell {
fill: #054973;
}

.nav_bar_logo:hover .turtle_shell {
    fill: #89b9d9;
}*/