.head_bar {
    background-color: var(--color_black);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.head_bar>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.head_bar_links {
    flex-direction: row;
}

.head_bar_link {
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    transition: ease-out 700ms;
    color: var(--color_white);
}

.head_bar_link:hover {
    background-color: var(--color_white);
    color: var(--color_black);
}

.logo_svg {
    height: 5rem;
    padding: 1rem;
}

.search {
    font-size: 2rem;
    cursor: pointer;
}